@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.react-datepicker,
.react-datepicker__month-container {
  width: 100%;
  height: 280px;
}

/* round checkbox */
.chakra-checkbox,
.chakra-checkbox__control {
  border-radius: 50% !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(26, 151, 207, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a97cf;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev:before {
  color: #f1f1f1 !important;
}
.slick-next:before {
  color: #f1f1f1 !important;
}
.select-width{
  width: 100%
}
